.title{
    background-color: plum;
    color: purple;
    padding: 1em;
    text-align: center;
}
.img1, .img2, .img3, .img4, .img5, .img5{
    width: 45%;
    margin: 2%;
}
.img1{
    border-radius: 15px;
    box-shadow: 1px 1px 3px gray;
}
.img2{
    border-radius: 50%;
}
.img3{
    border: bisque 10px inset;
    padding: 1em;
    background-color: antiquewhite;
}
.img4{
box-shadow: 0px 0px 5px 2px skyblue;
}
.img5{
    border: aqua 5px inset;
    width: 45%;
    background-color: blueviolet;
}
.img6{
    box-shadow: 1px 2px 5px 2px;
    border-radius: 15px;
    width: 45%;
    border: red;
}