.bg-intro{
    background-color: rgb(141, 84, 194);
    padding: 4.3em;
}
.navbar{
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%
}
.crown{
    margin-left: 60%;
}
.margin{
    margin-right: 2.5em;
}

.card{
    transition: transform .5s;
    overflow: none;
    color: rgb(204, 204, 204);
}
.card:hover{
    transform: scale(1.02);

}
.breaker{
    color:lavender;
}
.me-pic{
    border: 10px rgb(117, 66, 139) ridge;
}