.bg-intro{
    background-color: rgb(141, 84, 194);
    padding: 2.5em;
}
.navbar{
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
}
.crown{
    margin-left: 60%;
}
.margin{
    margin-right: 2.5em;
}
.card-pic{
    margin-left: 1em;
}